<mat-toolbar color="primary">
  <button (click)="navigateToHome()">
    <span>Project Gauss</span>
  </button>
  <span class="flex-grow"></span>
  <button
    class="ml-2"
    mat-icon-button
    (click)="darkModeService.toggleDarkMode()"
  >
    <mat-icon *ngIf="darkMode$ | async" fontIcon="light_mode"></mat-icon>
    <mat-icon *ngIf="!(darkMode$ | async)" fontIcon="nights_stay"></mat-icon>
  </button>
  <button class="ml-2" mat-icon-button [matMenuTriggerFor]="languageMenu">
    <mat-icon fontIcon="translate"></mat-icon>
  </button>
  <mat-menu class="w-64" #languageMenu="matMenu">
    <button mat-menu-item (click)="changeLanguage(availableLanguages.EN)">
      <span>English</span>
    </button>
    <button mat-menu-item (click)="changeLanguage(availableLanguages.PT)">
      <span>Português</span>
    </button>
  </mat-menu>
</mat-toolbar>

<div
  class="container mx-auto flex-grow flex flex-col sm:py-4 md:py-8 sm:px-2 md:px-16 lg:px-32 xl:px-64"
>
  <ng-content></ng-content>
</div>
