<div class="grid grid-cols-1 lg:grid-cols-2 gap-4">
  <mat-card class="min-h-64 p-4 flex-col justify-around">
    <mat-card-header class="mb-4">
      <mat-card-subtitle>Guide</mat-card-subtitle>
      <mat-card-title>Honkai Star Rail</mat-card-title>
    </mat-card-header>

    <mat-card-content>
      <p>
        Tools for calculations on artifacts stats, level up materials, and more!
      </p>
    </mat-card-content>

    <mat-card-actions class="mt-4 justify-end">
      <button
        mat-raised-button
        color="primary"
        class="w-32"
        (click)="navigateToPage('/star-rail')"
      >
        GO
      </button>
    </mat-card-actions>
  </mat-card>

  <mat-card class="min-h-64 p-4 flex-col justify-around">
    <mat-card-header class="mb-4">
      <mat-card-subtitle>Guide</mat-card-subtitle>
      <mat-card-title>Genshin Impact</mat-card-title>
    </mat-card-header>

    <mat-card-content>
      <p>
        Tools for calculations on artifacts stats, level up materials, and more!
      </p>
    </mat-card-content>

    <mat-card-actions class="mt-4 justify-end">
      <button mat-raised-button color="primary" class="w-32">GO</button>
    </mat-card-actions>
  </mat-card>
</div>
